{% with method='service.get' args="{'parentids':'"|add:top_id|add:"', 'output':'extend', 'selectDependencies':'extend'}" %}
    {% zbx_call method args as results %}
    {% for service in results.result %}
        {{ service.name }} <br>
        {% for child in service.dependencies %}
            {% with method='service.get' args="{'serviceids': '"|add:child.serviceid|add:"', 'output':'extend', 'selectDependencies':'extend'}" %}
                {% zbx_call method args as ch %}
                    --> {{ ch.result.0.name}} <br>
                {% zbx_periods_get ch.result.0.triggerid time_from time_till as periods %}
                {% for key, value in periods.items %}
                    {{ key }}: {{ value }}
                {% endfor %}
                <br>
            {% endwith %}
        {% endfor %}
    {% endfor %}
{% endwith %}